
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
.menue{
  display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: black;
    opacity: 0.9;
  
  margin-bottom: 10px;
}
.searchButoon{
  
  background-color: red;
  padding-right: 11px;
  border-radius: -4px;
  color: white;
  margin-left: 10px;
  padding-left: 11px;
  
}

.searchBox{
  border-bottom: 1px solid red;
  width: 260px;

}

.menue::before{
  
    content: "";
    background: url(../../../img/foodBackground.jpg) no-repeat no-repeat center/cover;
    background-color: black;
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    display: flex;
    

}

.content{
  color: white;
    position: relative;
    top: 155px;
    left: 1064px;
    text-align: center;
    width: 412px;
    height: 117px;
    font-size: 24px;
    font-family: cursive;
}



.Products{
  display: flex;
    justify-content: space-around;
    position: relative;
    top: 500px;
}
